.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: whitesmoke;
    height: 200px;
    width: 100%;
}

.footer-container h4 {
    margin: 0;
}